*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr  1fr ;
   

}
.header{
    background: blue;
    grid-column: 1/6 ;
    grid-row: 1/1 ;
    

}

.main{
    background: palevioletred;
    grid-column: 2/4;
    grid-row: 3/5;
    place-items: center;
    justify-content: center;
    align-content: center;
    position: relative;

}
.side{
    background: lightblue;
    grid-column: 5/6;
    grid-row: 1/6;
    
}
input{
    position: absolute;
    top: 40%;
    right: 30%;

}
button{
   background: blue;
   color: aliceblue;
   position: absolute;
   top: 50%;
   right: 50%;

   
}
a {
    background: blanchedalmond;
    border-radius: 8px;
    text-decoration: none;
    padding: 9px;
    margin-top: 10px;
}
.black{
    width: 130px;
    height: 40px;
    z-index: 1;
    background: black;
    margin: 30px;
    margin-right: 10px;
    justify-self: center;
}
h1{
    margin: 30px;
}
.circle{
    width: 100px;
    height: 100px;
    z-index: 1;
    background-color: antiquewhite;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    margin-left: 50px;
}
@media only screen and (max-width: 768px) {
    .side{
        background: transparent;
    }
    input{
        position: absolute;
        top: 40%;
        right: 10%;
        left: 10%;
    }
    button{

        top: 50%;
        right: 50%;
        left: 20%;
    }
}