*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr  1fr ;
   

}
.header{
    background: blue;
    grid-column: 1/5 ;
    grid-row: 1/1 ;
    

}

.main{
    background: palevioletred;
    grid-column: 2/4;
    grid-row: 3/5;
    place-items: center;
    justify-content: center;
    align-content: center;
    position: relative;

}
.side{
    background: blueviolet;
    grid-column: 5/6;
    grid-row: 1/6;
}
input{
    position: absolute;
    right: 90px;
    top: 90px;
}
button{
   background: blue;
   color: aliceblue;
   position: absolute;
   right: 150px;
   top: 120px;
   
}
h1 {
    background: blanchedalmond;
    border-radius: 8px;
}
.ci
